# Development files
.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
pnpm-lock.yaml
assets/**

# Build output that's not needed
.github/**
.git/**
**/test/**
out/**
node_modules/**
# Include only the minimal jsonc-parser runtime files
!node_modules/jsonc-parser/package.json
!node_modules/jsonc-parser/lib/umd/**
node_modules/jsonc-parser/lib/esm/**

# Misc files
.editorconfig
.eslintignore
.prettierrc
CHANGELOG.md
CONTRIBUTING.md
**/*.vsix

# Keep only necessary files
!dist/extension.js
!src/images/icon.*
!README.md
docs/**
audit-ci.json
.nycrc.json
!LICENSE.md
!package.json
